{% extends "all-posts/base.html" %}
{% load bootstrap4 %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
                    {% for post in posts %}
                <div class="col-md-3 col-lg-3 col-sm-12">
                        <div class="card mb-3 mt-3 project" style="height: fit-content;">
                                <a href="{% url 'post' post.id %}">
                                <h3 class="card-header sign">{{post.title}}</h3>
                               
                                <div class="card-body">
                                  <p class="card-text sign">{{post.post}}</p>
                                  <p class="card-text text-muted sign">by {{post.user}}</p>
                                </div>
                                <div class="card-footer text-muted sign">
                                    {{post.date_posted}}
                                </div>
                              </div>
                </div>
                {% endfor %}
        </div>
    </div>
{% endblock content %}