{%extends 'all-posts/base.html'%}

{% block content %}
{{block.super}}

<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-dm12">
            <div class="text-wrapper">
                <h1>Neighbourhood</h1>
                <h3>stay in the loop</h3>
                <a  class="btn btn-light" href="/accounts/login">Login
                </a>
                <a  class="btn btn-light" href="/accounts/register">Sign Up
                </a>
            </div>
        </div>
    </div>
</div>   

{% endblock %}
